@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 30% 7%;
    --foreground: 210 40% 98%;
    --card: 210 25% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 210 25% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 60% 54%;
    --primary-foreground: 210 30% 7%;
    --secondary: 210 20% 14%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 20% 14%;
    --muted-foreground: 210 20% 70%;
    --accent: 0 68% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 18%;
    --input: 210 20% 18%;
    --ring: 174 60% 54%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
